In [1]:
from  school.student import Student
from school.course import SchoolCourse
from school.student_course import StudentInCourse
from school.student import SchoolStudent
from school.grade import Grade

<h1 style="text-align:center">
Create Students
</h1>

In [2]:
SchoolStudent.student(first_name = 'Arturo',
                        family_name = 'Camacho',
                        credit_capacity = 10)

New student added

True

In [3]:
SchoolStudent.student(first_name = 'Abel',
                        family_name = 'Camacho',
                        credit_capacity = 8)

New student added

True

In [5]:
SchoolStudent.student(first_name = 'Ivana',
                        family_name = 'Simeunovic',
                        credit_capacity = 8)

New student added

True

In [4]:
SchoolStudent.student(first_name = 'Elvis',
                        family_name = 'Presley',
                        credit_capacity = 8)

New student added

True

<h1 style="text-align:center">
Update Student
</h1>

In [7]:
SchoolStudent.student(first_name = 'Arturo',
                        family_name = 'Camacho Guardian',
                        credit_capacity = 10,
                                student_id = 2)

student info updated

True

In [13]:
SchoolStudent.student(first_name = 'Abel',
                        family_name = 'Camacho Guardian',
                        credit_capacity = 10,
                                student_id = 1)

<h1 style="text-align:center">
Remove Student
</h1>

In [6]:
SchoolStudent.student(student_id = 5,
                                 remove_student =True)

student removed

True

<h1 style="text-align:center">
Create Course
</h1>

In [7]:
SchoolCourse.course(course_name = 'Dummy Course',
                     start_date = '2000-01-01',
                     end_date = '2000-01-01',
                     credit = 3,
                     capacity =10)

Course added

In [8]:
SchoolCourse.course(course_name = 'Linear Algebra I',
                     start_date = '2021-01-15',
                     end_date = '2021-01-20',
                     credit = 3,
                     capacity =10)

Course added

In [9]:
SchoolCourse.course(course_name = 'Linear Algebra II',
                     start_date = '2021-01-15',
                     end_date = '2021-01-20',
                     credit = 3,
                     capacity =3)

Course added

In [10]:
SchoolCourse.course(course_name = 'Calculus I',
                     start_date = '2021-02-01',
                     end_date = '2021-02-15',
                     credit = 3,
                     capacity =10)

Course added

<h1 style = "text-align:center">
Get Student Information
</h1>

<h1 style = "text-align:center">
Get Student course information
</h1>

In [16]:
SchoolStudent.student_information(student_id = 1, 
                                 student_information = 'all courses')

  CourseName
0     german
1    spanish
2     german
3       math
4       math
5    spanish

In [17]:
SchoolStudent.student_information(student_id = 2,
                                         course_id = 1,
                                            student_information = 'course grade')

  FirstName        FamilyName Grade CourseName
0    Arturo  Camacho Guardian     A       math
1    Arturo  Camacho Guardian     A       math

In [18]:
SchoolStudent.student_information(student_id = 2,
                                            student_information = 'student average')

  FirstName        FamilyName  AverageGrade
0    Arturo  Camacho Guardian           5.0

Course added

In [3]:
SchoolCourse.course(course_name = 'German II',
                     start_date = '2021-01-01',
                     end_date = '2021-01-10',
                     credit = 3,
                     capacity =10)

Course added

In [4]:
SchoolCourse.course(course_name = 'Spanish III',
                     start_date = '2021-01-01',
                     end_date = '2021-01-05',
                     credit = 3,
                     capacity =10)

Course added

In [17]:
SchoolCourse.course(course_name = 'sport',
                     start_date = '2021-01-07',
                     end_date = '2021-01-17',
                     credit = 3,
                     capacity =10)

In [6]:
SchoolCourse.course(course_id = 1,
                    course_name = 'Linear Algebra II')

Updated Course Information

<h1 style="text-align:center">
Add student to Course
</h1>

In [2]:
new_student_in_course = SchoolCourse()
new_student_in_course.student_to_course(student_id = 50,
                                        course_id = 5)

NameError: name 'ValidateStudentCourseInfo' is not defined

In [19]:
new_student_in_course2 = StudentInCourse(student_id = 1)
new_student_in_course2.add_student_to_course(course_id = 3)

In [20]:
new_student_in_course3 = StudentInCourse(student_id = 2)
new_student_in_course3.add_student_to_course(course_id = 1)

In [21]:
new_student_in_course4 = StudentInCourse(student_id = 2)
new_student_in_course4.add_student_to_course(course_id = 3)

In [2]:
new_student_in_course5 = StudentInCourse(student_id = 3)
new_student_in_course5.remove_student_to_course(course_id = 1)

<h1 style="text-align:center">
Add student's grade
</h1>

In [2]:
add_grade = Grade(course_id = 1)
add_grade.add(student_id = 1, grade = 'B')

ValueError: Student not in course

In [ ]:
add_grade = Grade(course_id = 1)
add_grade.update(student_id = 1, grade = 'B')

<h1 style="text-align:center">
Add schedules
</h1>